@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #151515;
}
body::-webkit-scrollbar {
    width: 1em;
  }
  body::-webkit-scrollbar-track {
    box-shadow: #fff;
    background: #fff;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #00f5f5;
    border-radius: 5px;
  }
::selection{
    background: #00f5f5;
    color: #fff;
}
span{
    color: #00f5f5;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
.card {
    width: clamp(150px, 95vw, 250px);
    box-shadow: 0 0 .5rem rgb(0, 255, 255);
    outline: 2px solid rgb(0, 255, 255);
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    border-radius: .5rem;
}
.img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: 200ms ease-in-out transform;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, #151515, transparent);
}
.info {
    padding: 2rem 1rem 1rem;
}
.info h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}
.single-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    margin: .2rem 0;
}
.card:hover .img {
    transform: scale(1.1);
}
.movies-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}
.movies-container {
    padding: 1rem;
    text-align: center;
    color: #fff;
}
.search {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 2rem;
    padding: 2rem 0 1rem;
}
.search input,
.search button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 255, 255);
    color: #fff;
}
.search button {
    cursor: pointer;
}
.search button:hover { background-color: rgb(1, 196, 196); }
.search button:active { transform: scale(.9); }
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 1)), url(https://unsplash.it/1600/900); */
    background-size: cover;
    background-position: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 3rem;
    overflow-y: scroll;
    transform: scale(0);
    transition: 200ms ease-in-out transform;
}
.content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    width: 1200px;
    margin-top: 10rem;
}
.content .left .single-info {
    font-size: 1rem;
    padding: .5rem 0;
}
.content .left .single-info .heart-icon {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}
.content .left .single-info .heart-icon:hover { transform: scale(1.1); }
.content .left .single-info .heart-icon:active { transform: scale(.9); }
.poster-img {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem rgba(255, 0, 0, 1);
    border: 1px solid rgba(255, 0, 0, 1);
}
.poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-info-container { width: 200px; }
.right > *:not(h1) { margin: 1rem 0; }
.trailer iframe {
    border: 2px solid rgb(0, 255, 255);
    box-shadow: 0 0 .5rem rgb(0, 255, 255);
    border-radius: .5rem;
    max-width: 400px;
    width: 100%;
    height: 200px;
}
.x-icon {
    font-size: 2rem;
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    user-select: none;
}
.x-icon:hover { transform: scale(1.3); }
.x-icon:active { transform: scale(1); }
.show-popup { transform: scale(1); }
.change-color { color: #00f5f5; }
@media only screen and (max-width: 800px) {
    .popup-container * { padding: 0; }
    .popup-container { padding: 2rem; }
    .content {
        flex-direction: column;
        margin-top: 50rem;
    }
    .x-icon {
        top: 10px;
        right: 20px;
    }
}